nechal jsem si v lovable udělat frontend celé aplikace. takhle se mi to líbí. chtěl bych po tobě doplnit celý backend a zprovoznit to. zatím mi databázi, auth a storage supluje supabase. chtěl bych to předělat do postgre. využij docker. spravuj mi komplexně versioning na github.
dělej strokturovaný, anglický a dobře komentovaný kód. Snaž se nevytvářet zbytečné soubory a před každou implementací se podívat, co už je implementované. udržuj si structure.md aktualizovaný.
u každého souboru si do hlavičky napiš co dělá a jaká je jeho relativní adresa vůči projektu.