# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
htmlcov/
.env
.venv
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
tests/
docs/
README.md
*.log
.mypy_cache/
.ruff_cache/