# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Builds
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Uploaded files
uploads/

# Prisma
/prisma/migrations/
/prisma/.env

# Tests
coverage/
.nyc_output/ 